# Django Configuration
# SECRET_KEY = 'GENERATE A KEY'

# PostgreSQL Docker Configuration
# DB_ENGINE = "django.db.backends.postgresql"
# POSTGRES_DB = "CHANGE-ME"
# POSTGRES_USER = "CHANGE-ME"
# POSTGRES_PASSWORD = "CHANGE-ME"
# POSTGRES_HOST="psql"
# POSTGRES_PORT="5432"

# Selenium Configuration
# SELENIUM_HEADLESS = 1
